body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  

img{
    border:3pt solid wheat;
    border-radius: 130px;
    top: 100px; left: 100px; width: 100px; height: 100px;
}
  .content {
    overflow: auto; /* Enable scrolling */
    height: 100%;
  }
  

    #myCanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 110%; /* Make the canvas width twice the viewport width */
        height: 110%; /* Make the canvas height twice the viewport height */
    background-color: #FFFDF6;
  }
  
  .text-container {
    position: relative;
    margin: 20px; /* Adjust as needed */
    user-select: none;
  }
  
p {
    font-size: 20pt;
    margin-left: 10pt;
    margin: 3cm;
    max-width: 30cm;
    color: #FFFDF6;
  }
  /* 80AB39 */

  a{
    color: #D3C7BC;
        

}

a:visited{
    color: red;
}

.highlight {
    background-color: #80AB39;
  }


  @media only screen and (max-width: 727px) {

    p{
        font-size: 15pt;
        margin-left: 10pt;
margin: 1cm;

    }
    
    img{
        top: 50px; left: 50px; width: 50px; height: 50px;
    }

    }
